.mainBox {
    margin: 0rem 1.5rem;
    display:grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content:center;
}

.mainBox > *:first-child {
    text-align: center;
    font-size: 2rem;;
    background: linear-gradient( black, gray);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: .3rem;
}

.year {
    display: grid;
    grid-template-columns: repeat(4,0.5fr);
    gap: 0.5rem;
    justify-content: center;
    align-content:center;
}

.month {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    align-content:flex-start;
    border: 1px solid black;
    background-color: #e5e5f7;
    border-radius: 5px;
    padding: 0.3rem;
}

.monthHeader {
    grid-column: 1 / span 7;
    padding: .2rem 0;
    text-align: center;
    font-size: 1.3rem;
    position: relative;
}

.monthHeader > span {
    position: absolute;
    left: 0.5rem;
    top:0.5rem;
    font-weight: bold;
}

.monthHeader span {
    font-size: .8rem;
    text-shadow: 0.2px 0.2px black;
}

.month > h3{
    background: linear-gradient( lightgray, white);
    border: 1px solid gray;
    margin: 0;
    text-align: center;
}

.dayName {
    background-color: cornflowerblue;
    text-align: center;
    color: aliceblue;
}

.lastEmpty {
    border-left: 1px solid black;
}

.sundays{
    border-right: 1px solid black;
}

.day {
    position: relative ;
}

.day > span > span {
    position: absolute;
    left: 0.1rem;
    top:0.1rem;
    font-size: .8rem;
    text-shadow: 0.2px 0.2px black;
}

.weekDay, .weekEnd, .today {
    text-align: right;
    font-size: .8rem;
    padding-right: 0.1rem;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    background-color: white;
}

.weekEnd {
    background-color: lightcyan;
}

/* .weekDay:hover, .weekEnd:hover {
    background: none;
    background-color: lightslategray;
    color: white;
    cursor: pointer;
} */

.empty, .lastEmpty {
    border-bottom: 1px solid black;
}

.ramadan{
    background-color: rgb(181, 224, 181);
}

.today {
    color: white;
    background-color:lightslategrey;
}

@media screen and (max-width: 1400px) {
    .year {
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 800px) {
    .year {
        grid-template-columns: repeat(1,1fr);
    }
}

