.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 1rem 1rem;
    border: 1px solid black;
}

.grid-container > h3{
    text-align: center;
}

.flex-container{
    margin: 1rem 0rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1rem;
}

.clickable {
    cursor: pointer;
}

.title {
    grid-column: 1 / -1;
    background: var(--header-background);
    color: var(--title-text-color);
    padding: var(--title-padding-y) var(--title-padding-x);
    margin: 0px;
}

.dialog{
    position:fixed;
    border: 1px solid black;
    top: 5%;
    left: 5%;
    background-color: azure;
    width: 90%;
    height: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: stretch;
}

.dialog-header{
    grid-column: 1 / span 2;
    text-align: left;
    background-color: var(--header-background);
    padding: .1rem .1rem;
    font-size: 1.1rem;
    max-height: 1.4rem;
}

.dialog-header span {
    background-color: var(--header-background);
    color: white;
    cursor: pointer;
    padding: .1rem .5rem;
}

.dialog-header span:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.dialog img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    flex-grow: 0;
    flex-shrink: 0;
}

.dialog > span{
    text-align: center;
    border-top: 1px solid black;
}

.dialog > span:nth-child(even){
    background-color: beige;
    font-weight: bold;
    border-left: 1px solid black;
}

.dialog > span:nth-child(odd){
    background-color: white;
}

figcaption{
    background-color:dimgray;
    color: white;
    padding: .3rem 0;
}

.hidden {
    display: none;
}