:root {
    --title-background: linear-gradient(180deg, rgba(63, 63, 63, 1) 0%, rgba(96, 96, 96, 1) 100%);
    --title-text-color: white;
    --title-padding-y: 5px;
    --title-padding-x: 0px;
}

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:hover {
    background-color: hsl(0, 0%, 30%);
}

.topBar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 10;
}

.icon {
    align-items: flex-start;
    color: var(--title-text-color);
    flex-grow: 0;
}