.mainContainer{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 1rem;
}

.flexColumn {
    flex-direction: column;
}

.mainContainer > select{
    flex-grow: 1;
    padding: 0.5rem 0;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    max-width: max(30%, 300px);
}

.inputOutputBox {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 1rem;
    width: 100%;
    gap: 1rem;
}

.inputOutputBox > div{
    border: 1px solid black;
    border-radius: 5px;
    background-color: #f5f5f5;
    width: clamp(300px, 100%, 48%);
}

.inputBox{
    display: grid;
    grid-template-columns: 1fr;
    align-content: flex-start;
    padding: 0.1rem 0.1rem;
}

.inputControlBox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.1rem;
}

.outputBox{
    display: grid;
    grid-template-columns: 1fr;
    padding: 0.1rem 0.1rem;
}

.outputBox span {
    background-color: whitesmoke;
}

.darkBackground{
    background-color: var(--header-background);
    color: white;
}

.center{
    text-align: center;
}

.padding{
    padding: 0.2rem .1rem;
}

.rounded{
    border-radius: 5px;
}

.bordered{
    border: 1px solid lightslategray;
}