:root {
    --country-border: black;
    --sea-color: rgb(68 119 199);
}

#SVGContainer {
    display: grid;
    justify-content: center;
    align-items: stretch;
}

svg {
    background-color: none;
}

.sphere {
    fill: var(--sea-color);
}

.graticules {
    fill: none;
    stroke: black;
    stroke-width: 0.1px;
}

.borders {
    stroke: var(--country-border);
    stroke-width: 0.05px;
    fill: none;
}

.countryName {
    fill: black;
    font-weight: bolder;
}

.country:hover {
    animation: color-change 0.5s linear infinite alternate both;
}

text {
    pointer-events: none;
}

.tooltip {
    color: #222;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 2px 0px #a6a6a6;
    padding: .2em;
    text-shadow: #f5f5f5 0 1px 0;
    opacity: 0.9;
    position: absolute;
    white-space: pre-wrap;
    text-align: center;
    opacity: 0.8;
}

.hidden {
    display: none;
}

@keyframes color-change {
    from {
        fill: #ffffff
    }

    to {
        fill: #aaaaaa;
    }
}
