<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unit Converter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="css\bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link rel="icon" href="icon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="css\style.css">
    <link rel="icon" href="icon.ico">
  </head>
  <body ng-app="myConversionApp" ng-controller="myCtrl">

    <div ng-include="'header.htm'"></div>

    <div ng-include="'nav.htm'"></div>

    <br>
    
    <div class="container p-3">

      <!--Unit Type-->
      <div class="container row">
        <select ng-change="loadUnits()" ng-model="unitType" ng-options="x for x in unitTypes" class="col form-control border-dark border"></select>
      </div>

      <br>
      
      <!-- Unit and Value -->
      <div class="container col">
          <p class="row w3-center bg-light text-white">
            From
          </p>
          <div class="row">
            <input class="col-md-6 table-hover form-control border border-dark" type="number" ng-model="valueFrom" id="unit_from">
            <select id="unitFrom" class="w3-half w3-round w3-select w3-border" ng-change="fetchOtherUnits()" ng-model="unitFrom" ng-options="x for x in units"></select>
          </div>
      </div>

      <div id="result_div" class="w3-container w3-col m6 l6">
        <div class="w3-row w3-center w3-gray w3-text-white w3-large" style="text-shadow:1px 1px 0 black">
          To
        </div>
        <div class="w3-row" ng-repeat="(y,x) in otherUnits">
          <span class="w3-input">{{x['name']}} : {{ calculate(x) }} {{x["symbol"]}}</span>
        </div>
      </div>

    </div>

    <div ng-include="'footer.htm'"></div>
  </body>
  <script type="module" src="js\scriptForIndex.js"></script>
</html>
