@media screen and (max-width: 850px) {
    body > header > svg > text {
        font-size: 8vw;
    }
}

@media screen and (min-width: 851px) {
    body > header > svg > text {
        font-size: 4vw;
    }
}

.grid-container {
    display: grid;
    grid-gap: 0px 0px;
    grid-template-columns: 50% 50%;
}